<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= actor.name %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>
        <%= actor.name %>
    </h1>
    <br>
    <p>FULL NAME: <%= actor.first_name %>
            <%= actor.last_name %>
    </p>
    <p>RATING: <%= actor.rating %></p>
    
    <p>FAVORITE MOVIE: <%= actor.favorite_movie.title %>
    </p>

    <h2>MOVIES</h2>
    <ul> <% if (actor.movies){ %>
        <% actor.movies.forEach(movie=> { %>
            <li>
                <%= movie.title %>
            </li>
            <% }); %>
            <% } else{ %>
                <br>
            <p>Este actor no tiene ninguna película registrada</p>
            <% } %>
    </ul>
    <h2>Favorite Movie</h2>
    <% if (actor.favorite_movie) { %>
        <p>
            <%= actor.favorite_movie.title %>
        </p>
        <% } else { %>
            <p>No favorite movie</p>
            <% } %>
            <br>
            <a href="/actors/edit/<%= actor.id %>">Editar Actor</a>
            <a href="/actors/delete/<%= actor.id %>">Eliminar Actor</a>
            <br>
            <a class="botonVolver" href="/actors">Listado de Actores</a>
</body>

</html>